.wrapper {
	display: flex;
	gap: 8px;
	align-items: center;
	text-decoration: none;
	user-select: none;
	pointer-events: none;
}

.logo {
	width: auto;
	height: auto;
}

.title {
	color: var(--color-primary);
	font-size: 26px;
}

.xs_title {
	font-size: 16px;
}

.xs_logo {
	width: 18px;
}

.xl_title {
	font-size: 60px;
}

.xl_logo {
	width: 60px;
}
