:root {
	--color-primary: #282828;
	--color-primary-light: #9d9d9d;

	--color-secondary: #f4f4f4;
	--color-secondary-light: #ffffff;
	--color-secondary-dark: #cccccc;

	--border-radius-default: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: var(--color-primary);
	background-color: var(--color-secondary);
}

a {
	text-decoration: none;
	color: var(--color-primary-light);
}

ul,
li,
ol {
	list-style-type: none;
}
