.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background-color: var(--color-secondary-light);
	border-radius: var(--border-radius-default);
	position: relative;
}

.header__right {
	display: flex;
	align-items: center;
}
